input {  
    twitter {
        consumer_key => "{{ app_key }}"
        consumer_secret => "{{ app_secret }}"
        oauth_token => "{{ token_key }}"
        oauth_token_secret => "{{ token_secret }}"
        keywords => ["{{ tw_keyword }}"]
        full_tweet => true
    }
}

filter { }
{% set machines = [] -%}
{% for key, value in vms.items() -%}
{% if 'elastic' in key -%}
{{ machines.append( key + '.' + vmnet.domain + ':9200') or ''}}
{%- endif %}
{%- endfor %}
output {
    elasticsearch {
      hosts => {{ machines }}
      index         => "twitter_elastic_example"
      document_type => "tweets"
      template      => "/etc/logstash/twitter_template.json"
      template_name => "twitter_elastic_example"
      template_overwrite => true
  }
}