{% set machines = [] -%}
{% for key, value in vms.items() -%}
{% if 'elastic' in key or 'kibana' in key -%}
{{ machines.append( vmnet.net + '.' + value.id|string + ':9300') or ''}}
{%- endif %}
{%- endfor %}
node.name: {{ ansible_facts['nodename'] }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: {{ ansible_facts['default_ipv4']['address'] }}
http.port: 9200
discovery.zen.minimum_master_nodes: 1
discovery.zen.ping.unicast.hosts: {{ machines }}
#bootstrap.memory_lock: true
bootstrap.memory_lock: false
